* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /*background: linear-gradient(135deg, #abf89f, #d5bce4);*/
  background-color: #abf89f;
}
header{
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  background-color:  #abf89f;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  font-size: 1.5rem;
  z-index: 1;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header img{
  width: 5%;
  border-radius: 8px;
}
.grid-container1 {
    display: grid;
    grid-template-columns: auto;
    background-color: #ffffff00;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 8px;
    margin-top: 1%;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff00;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 8px;
    margin-top: 1%;
  }
  .grid-item1 {
    background-image: rgba(255, 255, 255, 0);
    border: 1px solid rgba(200, 200, 200, 0);
    /*padding-bottom: 200px;*/
    align-items: center;
    display: flex;
    justify-content:center;
    border-radius: 8px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .grid-item2 {
    background-image: rgba(255, 255, 255, 0);
    border: 1px solid rgba(200, 200, 200, 0);
    /*padding-bottom: 200px;*/
    align-items: center;
    display: flex;
    justify-content:center;
    border-radius: 8px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .grid-item1 img{
    width: 1080px;
    height: 590px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: center;
    border-radius: 8px;
  }
  .grid-item2 img{
    width: 200px;
    height: 100px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: center;
    border-radius: 8px;
  }
  .grid-item1 img:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  .grid-item2 img:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
.titulo-galeria{
    text-align: center;
    width: 80%;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    /*background: linear-gradient(90deg, #abf89f, #d5bce4);*/
    background-color: #abf89f;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
footer {
  background-color: #d5bce4;
  text-align: center;
  padding: 1rem;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 778px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
